@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  color: #696969;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#696969, #696969);
}

.link-underline:hover {
  background-size: 100% 2px;
  background-position: 0 100%;
}

.transition-opacity {
  transition-property: opacity;
  transition-duration: 300ms; /* 트랜지션 기간을 원하는 시간(밀리초)으로 설정 */
}
